@font-face {
    font-family: 'munroregular';
    src: url('munro-webfont.woff2') format('woff2'),
        url('munro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #151515;
}

#sick {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    font-family: 'munroregular';
    font-size: 4rem;
    position: fixed;
    bottom: 0;
    color: #ededed;
    width: 100%;
    padding: 20px;
}