@font-face {
    font-family: 'munroregular';
    src: url('munro-webfont.woff2') format('woff2'),
        url('munro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    font-family: 'munroregular';
    font-size: 5em;
    overflow: hidden;
    text-align: right;
}

#sick {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
}

ul {
    list-style: none; 
    z-index: 9999;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

li {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}

a:hover {
    opacity: 0.75;
    color: aqua;
}

a:visited {
    text-decoration: none;
}
