@import url(http://fonts.googleapis.com/css?family=Geo&subset=latin);

body {
    margin: 0;
    padding: 0;
    background-color: #151515;
}

#sick {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    font-family: 'Geo', serif;  
    font-size: 4rem;
    position: fixed;
    bottom: 0;
    color: #ededed;
    width: 100%;
    padding: 20px;
}